<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <a href="http://127.0.0.1:8000/products/">Home</a>
    <a href="http://127.0.0.1:8000/products/about">About us</a>
    <a href="http://127.0.0.1:8000/products/customer">Feedback</a>
    <a href="http://127.0.0.1:8000/products/future">The Future</a>
    <a href="http://127.0.0.1:8000/">Weather</a>

</head>
<body style="background-color:powderblue;">

<h1>About Django Weather Services</h1>

<p>
    Hi There, Django Weather Services App here. We are a new player in the virtual weather game. We aim to offer on the spot updates for all things weather
    wherever you are in the world. We have a strong desire to deliver the best possible experience to our users so please let us know through our customer feedback
    app if there is any changes you see fit for us.
</p>
<br>
<p>
    Our patented and highly advanced weather satellite gives us millisecond updates for weather systems worldwide which allows us to not only provide more accurate
    weather readings but a broader range of where we are able to proivde reports from. Currently 100% of the globe.
</p>
<br>
<p>
    And just for fun our next project will be able to tell you the up to date current temperature of the moon! However let's keep that one a secret between you and us
    as we are not quite done yet
</p>

</body>
</html>