<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <a href="http://127.0.0.1:8000/products/">Home</a>
    <a href="http://127.0.0.1:8000/products/about">About us</a>
    <a href="http://127.0.0.1:8000/products/customer">Feedback</a>
    <a href="http://127.0.0.1:8000/products/future">The Future</a>
    <a href="http://127.0.0.1:8000/">Weather</a>

</head>
<body style="background-color:powderblue;">


<h3>Hi There, This is all about us!</h3>

</body>
</html>