<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Weather Services</title>

    <a href="http://127.0.0.1:8000/products/">Home</a>
    <a href="http://127.0.0.1:8000/products/about">About us</a>
    <a href="http://127.0.0.1:8000/products/customer">Feedback</a>
    <a href="http://127.0.0.1:8000/products/future">The Future</a>
    <a href="http://127.0.0.1:8000/">Weather</a>

</head>

<body style="background-color:powderblue;">

    <h1>Welcome to Django Weather Services</h1>

    <p> Where your weather request is our command!</p>
    <p>Please flick through our menu's to find the latest update on weather around the world, the history of Django Weather
    Services and also don't forget to leave us some feedback so we can aim to continue to grow and improve.</p>
    <p>Django Weather Services is always looking to stay up to date with the latest trends, if you feel we have fallen behind
    then feel free to message us directly, we love to improve. </p>


</body>
</html>