

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Future</title>

    <a href="http://127.0.0.1:8000/products/">Home</a>
    <a href="http://127.0.0.1:8000/products/about">About us</a>
    <a href="http://127.0.0.1:8000/products/customer">Feedback</a>
    <a href="http://127.0.0.1:8000/products/future">The Future</a>
    <a href="http://127.0.0.1:8000/">Weather</a>

</head>
<body style="background-color:#FFC300;">

<br>
<br>
<br>
<p>
{% load static %}
    <img src="{% static 'images/under-construction-warning-sign.jpg' %}">
</p>

</body>
</html>